h1 {
    text-align: center;
}

form {
    width: 90%;
    text-align: center;
}

button.btn {
    padding: 10px;
    margin: 10px;
    min-width: 100px;
}

table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
  }
  
  td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
  }

  .display-none-button {
    display: none;
  }

  .alert-message {
    width: 250px;
    margin: auto;
    text-decoration: underline;
    border-color: red;
    color: red;
}